/*Background-color: #0F126E*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #0F126E;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.container {
    width: 100%;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts {
    color: white;
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    margin: 5px;
}

.item .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;

    margin: 2px 4px;

    font-size: 2rem;
}

.item .text {
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 720px) {
    main {
        
    }
    .contacts {
        display: flex;
        flex-direction: column;
    }

    .top img {
        width: 8rem;
    }

    .bottom img {
        width: 8rem;
    }
    
}